<h1>All Twists</h1>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Twists</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @twists.each do |twist| %>
      <tr>
        <td><%= link_to twist.user.name.capitalize, user_path(twist.user) %></td>
        <td><%= twist.content %></td>
        <td><%= twist.comments.count %></td>
        <td><%= link_to 'Show', show_twist_path(twist.id) %></td>
        <td><%= link_to 'Edit', edit_twist_path(twist.id) if twist.user == @current_user %></td>
     </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Twist', ('/twist/new'), :class => 'new_twist' %>
</div>
