 <div class="block_table">
    
  </div> 
  <div class="row">
    <div class="col-md-12"><img src="" alt="">
      <table class="table table-bordered ">
        <tr class="active">
          <td><%= image_tag @user.image, :class => 'img-thumbnail' %></td>
          <td><strong>Name:</strong> <%= @user.name.capitalize %></td>
          <td><strong>Email:</strong> <%= @user.email %></td>
        </tr>
        <tr>
          <% if @user == @current_user %>
          <td>You follow <strong><a href="<%= following_user_path(@user) %>"><%= pluralize @user.active_relationships.count, "person" %></a></strong></td>
          <td>You are followed by <strong><a href="<%= followers_user_path(@user) %>"><%= pluralize @user.passive_relationships.count, "person" %></strong>
          </td>
          <% else %>
          <td><%= @user.name %> follows <strong><%= pluralize @user.active_relationships.count, "person" %></strong></td>
          <td><%= @user.name %> is followed by <strong><%= pluralize @user.passive_relationships.count, "person" %></strong>
          <% end %>
        </tr>
        <tr>
          <td><% @user.following.each do |person| %> <%= link_to person.name.capitalize, user_path(person) %><% end %>
          </td>
          <td><% @user.followers.each do |person| %><%= link_to person.name.capitalize, user_path(person) %><% end %>
          </td>
        </tr>

      </table>
    </div>
  </div>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Twists</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.twists.each do |twist| %>
      <tr>
        <td><%= link_to twist.user.name.capitalize, user_path(twist.user) %></td>
        <td><%= twist.content %></td>
        <td><%= twist.comments.count %></td>
        <td><%= link_to 'Show', show_twist_path(twist.id) %></td>
        <td><%= link_to 'Edit', edit_twist_path(twist.id) if twist.user == @current_user %></td>
     </tr>
    <% end %>
  </tbody>
</table>




<% if @current_user.present? && @current_user.following.include?(@user) %>
  <%= link_to 'Unfollow User', unfollow_user_path(@user), :method => 'delete' %>
<% else %>
  <%= link_to 'Follow User', follow_user_path(@user) unless @user == @current_user %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

</div>










