<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <tr class="active">
        <td><strong>Name:</strong> <%= @user.name.capitalize %></td>
        <td><strong>Email:</strong> <%= @user.email %></td>
      </tr>
      <tr>
        <td>You follow <strong><a href="<%= following_user_path(@user) %>"><%= pluralize @user.active_relationships.count, "person" %></a></strong></td>
        <td>You are followed by <strong><a href="<%= followers_user_path(@user) %>"><%= pluralize @user.passive_relationships.count, "person" %></strong>
        </td>
      </tr>
      <tr>
        <td><% @user.following.each do |person| %> <%= link_to person.name, user_path(person) %><% end %>
        </td>
        <td><% @user.followers.each do |person| %><%= link_to person.name, user_path(person) %><% end %>
        </td>
      </tr>

    </table>
  </div>
</div>





<% if @current_user.following.include? @user %>
  <%= link_to 'Unfollow User', unfollow_user_path(@user), :method => 'delete' %>
<% else %>
  <%= link_to 'Follow User', follow_user_path(@user) unless @user == @current_user %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>










